        <!--Footer-->
        <footer class="page-footer center-on-small-only mdb-color lighten-2">
            <!--Footer links-->
            <div class="container">
                <div class="row my-4">
                    <!--First column-->
                    <div class="col-lg-3 col-md-6">
                            <div class="info">
                                    <h5 class="title"><img class="img-fluid" src="{{url_for('static', filename='img/b_logo.png')}}" alt="" style="width: 200px;"></h5>
                                    <h1>PARTNER FAQ</h1>
                                    <nav>
                                            <ul>
                                                <li>
                                                <a><b>Email:</b> solutions@bwala.co.ke</a>
                                                </li>
                                                <li>
                                                <a><b>Phone Number:</b> +254 74 617 3727</a>
                                                </li>
                                            </ul>
                                        </nav>
                                </div>
                    </div>
                    <!--/.First column-->
                    <hr class="w-100 clearfix d-sm-none">
                    <!--Second column-->
                    <div class="col-lg-3 col-md-6 ml-auto">
                            <div class="info">
                                    <h5 class="title"> Help and Support</h5>
                                     <nav>
                                        <ul>
                                            <li>
                                                <a href="https://www.bwala.co.ke/contact">Contact Us</a>
                                            </li>
                                            <li>
                                                <a href="https://www.bwala.co.ke/how_it_works">How it works</a>
                                            </li>
                                            <li>
                                                <a href="https://www.bwala.co.ke/terms_condition">Terms &amp; Conditions</a>
                                            </li>
                                            <li>
                                                <a href="https://www.bwala.co.ke/policy">Company Policy</a>
                                            </li>
                                            <li>
                                                <a href="https://www.bwala.co.ke/membership">Membership</a>
                                            </li>
                                            <li>
                                                <a href="https://www.bwala.co.ke/faq">FAQ</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                    </div>
                    <!--/.Second column-->
                    <hr class="w-100 clearfix d-sm-none">
                    <!--Third column-->
                    <div class="col-lg-3 col-md-6 ml-auto">
                            <div class="info">
                                    <h5 class="title">Follow us on</h5>
                                    <nav>
                                        <ul>
                                            <li>
                                                <a href="https://www.facebook.com/BwalaAfricaLogistics/" target="_blank" class="btn btn-social btn-facebook btn-simple">
                                                    <i class="fa fa-facebook-square"></i> Facebook
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/company/18238740/"  target="_blank" class="btn btn-social btn-twitter btn-simple">
                                                    <i class="fa fa-linkedin"></i> LinkedIn
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/BwalaLogistics"  target="_blank" class="btn btn-social btn-reddit btn-simple">
                                                    <i class="fa fa-twitter"></i> Twitter
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/bwala_africa_logistics/"  target="_blank" class="btn btn-social btn-reddit btn-simple">
                                                    <i class="fa fa-instagram"></i> Instagram
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                    </div>
                    <!--/.Fourth column-->
                </div>
            </div>
            <!--/.Footer links-->

            <!--Copyright-->
            <div class="footer-copyright">
                <div class="containter-fluid">
                    © <script> document.write(new Date().getFullYear()) </script> Bwala Group 
                </div>
            </div>
            <!--/.Copyright-->
        </footer>
        <!--/.Footer-->